@import "normalize.css";

@font-face {
  font-family: 'Roboto Light';
  font-style: normal;
  font-weight: normal;
  src: url("/static/fonts/Roboto/Roboto-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto Medium';
  font-style: normal;
  font-weight: normal;
  src: url("/static/fonts/Roboto/Roboto-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto Bold';
  font-style: normal;
  font-weight: normal;
  src: url("/static/fonts/Roboto/Roboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: 'Roboto Light Italic';
  font-style: normal;
  font-weight: normal;
  src: url("/static/fonts/Roboto/Roboto-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto Medium Italic';
  font-style: normal;
  font-weight: normal;
  src: url("/static/fonts/Roboto/Roboto-MediumItalic.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: url("/static/fonts/Roboto/Roboto-BoldItalic.ttf") format("truetype");
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Light';
  font-size: 14px;
}

