@import "normalize.css";

@font-face {
  font-family: 'Roboto Light';
  font-style: normal;
  font-weight: normal;
  src: url("/static/fonts/Roboto/Roboto-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto Medium';
  font-style: normal;
  font-weight: normal;
  src: url("/static/fonts/Roboto/Roboto-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto Bold';
  font-style: normal;
  font-weight: normal;
  src: url("/static/fonts/Roboto/Roboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: 'Roboto Light Italic';
  font-style: normal;
  font-weight: normal;
  src: url("/static/fonts/Roboto/Roboto-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto Medium Italic';
  font-style: normal;
  font-weight: normal;
  src: url("/static/fonts/Roboto/Roboto-MediumItalic.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: url("/static/fonts/Roboto/Roboto-BoldItalic.ttf") format("truetype");
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Light';
  font-size: 14px;
}
$mobile-portrait: 479px;
$mobile-landscape: 599px;
$small-tablet-portrait: 799px;
$small-tablet-landscape: 767px;
$tablet-portrait: 1023px;
$tablet-landscape: 1024px;
$medium: 1224px; 

@media (min-width: 1024px) {
  font-size: 22px;
}

@media (min-width: 1225px) {
  font-size: 24px;
}

button {
  cursor: pointer;
}
